<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/menu.xsd">
    <menu>
        <add id="FusionLab_Core::main_menu"
             title="Fusion Lab Extensions"
             module="FusionLab_Core"
             sortOrder="10000"
             resource="FusionLab_Core::main_menu"/>
    </menu>
</config>
